#=== Gameserver ===
node_modules
logs
*.log
dist

#=== IDE ===
*.sublime-*

#=== OSX ===
.DS_Store
.AppleDouble
.LSOverride
._*

#=== Linux ===
*~
.directory
.Trash-*

#=== Windows ===
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk