<div class="col-md-12" ng-controller="register">
  <h1>Register</h1>
  
  <div class="alert alert-danger" ng-show="errors.length">
    <ul ng-repeat="error in errors">
      <li>{{ error }}</li>
    </ul>
  </div>


  <form ng-submit="submit()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" ng-model="form.username">
    </div>

    <div class="form-group">
      <label for="email">Email address (optional):</label>
      <input type="email" class="form-control" id="email" ng-model="form.email">
    </div>
    
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" ng-model="form.pwd">
    </div>

    <div class="form-group">
      <label for="pwd2">Password again:</label>
      <input type="password" class="form-control" id="pwd2" ng-model="form.pwd2">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>